<app-loading [loading]="caseLoading">
  <ng-container *ngIf="case; else noCase">
    <div style="text-align: center">
      <h1>{{case.title}}</h1>
      <p>{{case.description}}</p>
    </div>
  </ng-container>
  
  <ng-template #noCase>
    <div class="alert alert-danger">No case specified</div>
  </ng-template>
</app-loading>
