body {
    position: relative;
}

p, h1{
    text-align: center;
    font-size: 3vw;
}

h1 {
    font-size: 8vw;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}