/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css');
@import "theme.scss";

body {
  font-family: Roboto, sans-serif;
  padding-top: 100px;
  padding-bottom: 40px;
}

.slightly-raised-button {
  background-color: mat-color($primary, 0.12);
}

.title {
  box-sizing: border-box;
  color: rgba(1, 1, 1, 1);
  display: block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.subtitle {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: -4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
