<div class="grid">
  <div class="cases">
    <h2>Cases</h2>
    <app-loading [loading]="caseLoading">
      <app-case-list [cases]="cases"></app-case-list>
    </app-loading>
  </div>

  <div class="reports">
    <h2>Reports</h2>
    <app-loading [loading]="reportLoading">
      <app-report-list [reports]="reports"></app-report-list>
    </app-loading>
  </div>
</div>