<nav>
  <md-toolbar color="primary" class="toolbar" *ngIf="isLoggedIn()">
    <button md-icon-button (click)="sidenav.toggle()">
            <md-icon class="md-24">menu</md-icon>
          </button>￼
    <button md-button routerLink="/" (click)='sidenav.close()'>
            <md-icon>home</md-icon>
          </button>
    <span class="fill-remaining-space"></span>

    <button md-button [mdMenuTriggerFor]="appMenu" (click)='sidenav.close()'>
          <span>{{username()}}</span>
        </button>
    <md-menu #appMenu="mdMenu" yPosition="below" [overlapTrigger]="false">
      <button md-menu-item routerLink="/profile"><md-icon>perm_identity</md-icon> Profile</button>
      <button md-menu-item routerLink="/login" (click)='sidenav.close()'>Logout</button>
    </md-menu>
  </md-toolbar>
</nav>
<md-sidenav-container fullscreen class="sidenav-container" style="top: 64px !important">
  <md-sidenav #sidenav mode="push" opened="false">
    <md-nav-list *ngIf="isLoggedIn()">
      <a md-list-item routerLink="/cases" (click)='sidenav.close()'>Cases</a>
      <a md-list-item routerLink="/reports" (click)='sidenav.close()'>Reports</a>
    </md-nav-list>
  </md-sidenav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
