<ng-container *ngIf="hasReports(); else noReports">
  <div *ngFor="let report of reports; let i = index">
    <div class="clearfix" *ngIf="i % 3 == 0"></div>
    <div class="col-md-4">
      <img src="{{relativeToAbsolute(report.file.small_preview.url)}}" />
    </div>
  </div>
</ng-container>

<ng-template #noReports>
  <div class="alert alert-danger">No reports yet!</div>
</ng-template>
