<ng-container *ngIf="cases; else noCases">
  <div class="case-grid">
    <div *ngFor="let case of cases; let i = index">
      <md-card class="case-card" (click)="navigateCase(case.id)">
        <md-card-header>
          <md-card-title>{{case.title}}</md-card-title>
          <md-card-subtitle>{{case.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-content id="grid-scroll-{{i}}" *ngIf="case.bookmarks">
          <div class="bookmark-grid">
            <div *ngFor="let bookmark of case.bookmarks">
              <img src="{{relativeToAbsolute(bookmark.file.thumb.url)}}" alt="{{bookmark.title}}" />
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</ng-container>

<ng-template #noCases>
  <div class="alert alert-danger">No cases yet!</div>
</ng-template>