@import '../../../../styles';
@include mat-core();
body {
  font-size: 100%;
}

.case {
  border: 5px solid red;
}

.footer {
  font-size: 0.9vw;
}

.case-card {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, auto);
}

.case-card:hover {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

.case-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(80px, auto);
  grid-gap: 20px;
}

@media (min-width: 550px) {
  .case-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .case-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bookmark-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 20px;
}
